*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
  display:grid;
}
a{
  text-decoration:none;
  color:white;
  padding:10px;
}
.head{
 display:flex;
 flex-direction:row;
 flex-wrap:wrap;
 background:#12005e;
 align-items:center;
  justify-content: space-between;
  color:#fff;
  position:fixed;
  width:100%;
}
.logo {
  margin:10px;
  padding:5px;
}
.welcome-section{
  display:flex;
  flex-direction:column;
   align-items:center;
  justify-content:center;
  background:#4a148c;
  color:#fff;
  align-items:center;
  height:100vh;
  margin-top:80px;
}
.work-section{
  display:flex;
  flex-direction:column;
   align-items:center;
  justify-content:center;
  align-items:center;
  margin-top:20px;
}
ul{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  list-style:none;
}
li{
  background:#7c43bd;
  margin:10px;
  padding:5px;
  border-radius:2px;
}
h3{
  color:#12005e;
}
h4{
   color:#7c43bd;
}
 li:hover{
      background:hsl(268, 48%, 70%);
  }
.about-section{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
}


.foto { 
  background:#fff url(https://lh3.googleusercontent.com/MNf1OTefmalkVx_QJPbc6_pTVgzxK56KLIBeLBMFgtmsQRMW71JwJ1u73MiHYQs7qPttG9uYB5nZhuNMJGnJ7mRCdUX24oKGIUv3GaZYi1krlwuqESyT2dYnOexnLEQ2ujR2_KB41U5dxsAbiQpnq1wccwL2_8lCn4qpco-iF_zsLnRwz2P2jT3643R5_N5V5HNzzV5PWSBQBUBIcRmgN9wzKhml0dyHXc4SqwGJIiUhXiGt2fplxEu3GDhRkNl_4FHcJuFIgVd5qswLMo2SlUetY9eGP83lRAlTW724YrZ71EdX1fLsVqQZ0t-q9PtjWy69XdH_cYIGtFm_AXlT4_jUah7RX4aFB6fIR3c4AsW7tb54Bv6IQg1EcEF8rRh5_HAEnutE0NCYAXQPVYS9mm3OAuMhYBQN4aeNCHfi6xYYzNXLvoDCm6-8JnZaHoHHRQq5n8J8SF6wx3BMLAha-sNoU_tdJYchCG7CozDleRu7zmY5OiGRhWlRaGqSjl6oumw6nN6iaCwm3GthBPsviIMqudZs8nhUmkwAej_k5_ISHDeMB8pBqAlL7U0FU-hBupq-vvuMnj2cQtRPZwas4iz3Rao4X6lZohCM6dU2S7-oX_vH9I_Q2exm4Xh485wRvFaJonFIAoSkk5i8nLOPeWxP_n4XKil3BKtqOeo5KRwUbVipe6YduKwhm56VwA=w663-h883-no);
  width: 20em;
  height: 20em;
  background-size: cover;
box-shadow: 0 0 5em rgba(255,255,255,0.4);
  border-radius:50%;
  
}

  .about{
    margin-top:-10px;
  }

.flex-container{
  display:flex;
  flex-wrap:wrap;
}
.flex-item{
 margin: 20px;
 padding: 10px;
  display:flex;
  flex-direction:column;
}
.flex-item:hover .info{
  height: 20em;
}

@media all and (max-width: 400px) {
   html {
     font-size: 5vw;
   }
  .head{
    align-items: center;
    justify-content: center;
    flex-direction:column;
    position:relative;
}
  ul{
   flex-direction:column;
   padding:0;
  }
 
  nav{
    width:100%;
    margin:0;
  }
  .flex-container{
  flex-wrap:wrap;
}
.flex-item{
    width:100%;
}
 }
.contact-section{
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction:column;
  background:#4a148c;
  color:white;
}
.contact-section h3{
  color:white;
}
.contact{
  border:solid 2px #fff;
  padding:1em;
}
